@page
@model RatingStudents.Pages.Teachers.AddModel
@{
    ViewBag.Title = "Add teacher";
}

<div class="text-center">
    <h3>Add teacher</h3>
    <form method="post" class="form-group">
        <input type="text" class="form-control" name="LastName" placeholder="Last name" /><hr />
        <input type="text" class="form-control" name="FirstName" placeholder="First name" /> <hr />
        <input type="text" class="form-control" name="MiddleName" placeholder="Middle name" /><hr />
        <input type="submit" value="Create" class="btn btn-default" />
    </form>
</div>

